body {
    background: url(../modules/fon2.png) repeat #2e2e2e;
    //backdrop-filter: blur(5px);
    color: #b8b8b8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}
#output {
    margin-top: 10px;
    background-color: #2e2e2e;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
}
#output2 {
    background-color: #2e2e2e;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
}
li {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
select,
input,
button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
button {
    background-color: #121313;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.teg {
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    color: #39ff14;
    transition: background-color 0.3s;
    box-shadow: inset 0px 0px 81px 17px rgba(57, 255, 20, 0.5), 0px 0px 20px 4px rgba(57, 255, 20, 0.5);
}
.atribut {
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    color: #bc13fe;
    transition: background-color 0.3s;
    box-shadow: inset 0px 0px 81px 17px rgba(188, 19, 254, 0.5), 0px 0px 20px 4px rgba(188, 19, 254, 0.5);
}
.reflex {
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    color: #5555ff;
    transition: background-color 0.3s;
    box-shadow: inset 0px 0px 81px 17px rgba(85, 85, 255, 0.5), 0px 0px 20px 4px rgba(85, 85, 255, 0.5);
}
.function {
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    color: #FF5F1F;
    transition: background-color 0.3s;
    box-shadow: inset 0px 0px 81px 17px rgba(255, 95, 31, 0.5), 0px 0px 20px 4px rgba(255, 95, 31, 0.5);
}
.button-group {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.button-group input[type="radio"] {
    display: none;
}

.button-group label {
    color: #ffffff;
}
.button-group label {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: darkslategray;
}
.button-group input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
}
#teg:checked + label {
    background-color: #39ff14;
}
#atribut:checked + label {
    background-color: #bc13fe;
}
#reflex:checked + label {
    background-color: #5555ff;
}
#function:checked + label {
    background-color: #FF5F1F;
}
a {
    color: gray;
}
b {
    color: white;
}
.highlight {
    background-color: #cfff04;
}
.highlight2 {
    text-shadow: 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 35px #ffffff;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button-group h2 {
    display: inline-block;
    align-items: center;
    margin: 0;
}

#dynamic-content label {
    display: inline-block;
    margin: 10px;
    margin-top: 3px;
}

.section_item_id{
	background-color: #b8b8b8;padding: 2px 5px;border-radius: 3px;
}
.section_item_svg{
	cursor: pointer;width: 16px;height: 16px;
}
